h1 {
    color: yellowgreen;
    font-style: italic;
}
.grid {

    grid-template-columns: auto;

    grid-template-columns: repeat(3, 1fr);
    grid-column: initial;
}
.cell {
    border: solid 1px black;
}
p {
    font-style: italic;
}